/* Variables */

:root {
  --basic-black: #000000;
  --basic-blue-dark: #293449;
  --basic-blue-special: #32425C;
  --basic-red-special: #EE3643;
  --basic-silver-light: #A9A9A9;
  --basic-white: #ffffff;
  --basic-gold-special: #FFD180;
  --basic-white-special: #F3F7F9;
  --basic-white-extra: #F1F5F7;
  --basic-white-ultra: #EAEAEA;
  --basic-white-alfa: #F9F5F0;
  --basic-grey-dark: #405069;
  --basic-orange: #FFBF47;
  --basic-blue: #3BBCE3;
  --basic-pink: #DC91D8;
  --basic-green: #8ED78F;
  --basic-gold: #FFC047;
  --special: #663d15;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.popular-products-list,
.popular-manufacturers-list,
.popular-products-list,
.footer-menu,
.footer-offers,
.site-navigation,
.offers-list,
.services-list,
.breadcrumbs,
.catalog-products-list,
.pagination {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Grid */

.page {
  height: 100%;
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
}

/* Header */

.main-header {
  background: var(--basic-white-extra);
  height: 320px;
}

.main-header-menu {
  background-color: var(--basic-blue-dark);

}

.main-header-logo {
  background-color: var(--basic-red-special);
}

.logo {
  background-color: var(--basic-red-special);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-header-menu a {
  color: var(--basic-white);
  font-size: 18px;
}

.main-navigation {
  font-size: 18px;
  background-color: var(--basic-blue-special);
}

.main-header-description {
  align-self: center;
  font-style: italic;
  color: var(--basic-red-special);
}

.contacts-phone-header {
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red-special);
}

.main-header-contacts {
  align-self: center;
  color: var(--basic-blue-special);
}

.user-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  font-size: 21px;
  line-height: 21px;
  align-self: center;
  justify-self: flex-end;
}

.user-navigation a {
  background-color: var(--basic-white);
  display: grid;
  align-items: center;
  text-align: center;
  color: var(--basic-black);
  width: 150px;
  height: 45px;
}

.user-navigation a:hover {
  color: var(--basic-red-special);
}

.main-header-titles {
  height: 161px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

/* Breadcrumbs */

.breadcrumbs {
font-family: "PT Sans", Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
text-transform: uppercase;
color: var(--basic-black);
}

.breadcrumbs > li > a {
  text-decoration: none;
  color: var(--basic-black);
  }

/* Breadcrumbs */

.pagination {
font-family: "PT Sans", Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
color: var(--basic-black);
text-transform: uppercase;
}

.pagination > li > a {
text-decoration: none;
color: var(--basic-black);
}


/* Catalog */

.catalog-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue-special);
}

.filter-title {
font-family: "PT Sans", Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
color: var(--basic-blue-special);
}

.filter-titles {
font-family: "PT Sans", Arial, sans-serif;
font-style: normal;
font-size: 17px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-blue-special);
}

.button-submit {
font-family: "PT Sans", Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
color: var(--basic-black);
text-transform: uppercase;
border: 1px solid #E5E5E5;
box-sizing: border-box;
width: 220px;
height: 38px;
}

.sort-type-active {
font-family: "PT Sans", Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
color: var(--basic-red-special);
}

.sort-type {
font-family: "PT Sans", Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
color: var(--basic-black);
opacity: 0.3;
border-bottom: 1px dashed var(--basic-red-special);
}

.catalog-text-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: var(--basic-black);
}

/* User navigation */

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 56px;
  color: var(--basic-white);
  list-style: none;
  font-weight: normal;
  height: 60px;
  padding: 0px 53px;
}

.site-navigation li {
  align-self: center;
}

.site-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-blue-dark);
}

/* Offers */

.offers {
  margin-top: 59px;
}

.offers-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  list-style: none;
}

.offers-item {
  text-align: center;
  color: var(--basic-white);
}

.orange {
  background-color: var(--basic-orange);
}

.blue {
  background-color: var(--basic-blue);
}

.pink {
  background-color: var(--basic-pink);
}

.green {
  background-color: var(--basic-green);
}

.gold {
  background-color: var(--basic-gold);
}

.offers-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.offers-button {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--basic-white);
  text-transform: uppercase;
}

.offers-bg-img {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgba(0, 0, 0, 0.25);
  background-image: url(../img/perforators.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 620px;
  height: 266px;
}

.button {
  display: block;
  text-align: center;
  background: var(--basic-red-special);
  color: var(--basic-white);
  line-height: 18px;
  width: 192px;
  height: 38px;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
}

.offers-item-new {
  background: var(--basic-red-special);
  color: var(--basic-white);
}

/* Catalog products */

.catalog-products-list {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  gap: 20px;
}

.catalog-products-list > li {
  border: 1px solid var(--basic-white-ultra);
}

/* Popular products */

.popular-products-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
}

.popular-products-list > li {
  border: 1px solid var(--basic-white-ultra);
}

.products-title {
  margin-top: 70px;
  margin-bottom: 20px;
  background: var(--basic-white-alfa);
  height: 89px;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.popular-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue-special);
  font-weight: normal;
}

.products-name {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.popular-manufacturers-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px 145px;
  gap: 20px;
}

.popular-manufacturers-list li {
  border: 1px solid var(--basic-white-ultra);
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: var(--basic-silver-light);
}

.button-price {
  background: var(--basic-red-special);
  color: white;
  font-size: 17px;
  line-height: 18px;
}

/* Services */

.services-offers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.services {
  background: var(--basic-white-extra);
}

.services-title {
  font-size: 30px;
  line-height: 30px;
}

.services-text {
  font-weight: normal;
  font-size: 13px;
}

.services-item-active {
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  box-shadow: 0px 1px 0px var(--basic-white);
}

.services-item-active a {
  color: var(--basic-blue-special);
}

.services-item {
  font-size: 21px;
  line-height: 30px;
  background-color: var(--basic-blue-special);
  box-shadow: 0px 1px 0px var(--basic-blue-dark), inset 0px 1px 0px var(--basic-grey-dark);
}

.services-item a {
  color: var(--basic-white);
}

.services-item:hover {
  background-color: var(--basic-blue-dark);
  box-shadow: 0px 1px 0px var(--basic-blue-dark), inset 0px 1px 0px var(--basic-grey-dark);
}

/* About */

.about {
  display: grid;
  grid-template-columns: 460px max-content;
}

.about-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.about-items {
  font-weight: normal;
}

/* Footer */

.footer-contacts {
  margin-top: 70px;
  height: 193px;
  background-color: var(--basic-blue-special);
}

.footer-contacts-text {
  color: var(--basic-white-special);
}

.contacts-phone-footer {
  color: var(--basic-white-special);
}

.footer-menu a {
  color: var(--basic-white-extra);
}

.footer-menu a:hover {
  text-decoration-line: underline;
}

.footer-offers a {
  color: var(--basic-gold-special);
}

.footer-offers a:hover {
  text-decoration-line: underline;
}

.footer-social {
  background-color: var(--basic-blue-dark);
}

.footer-social-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-social-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-gold-special);
}

.footer-social-link:hover {
  text-decoration-line: underline;
}

.footer-contacts-grids {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer-contacts-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 58px;
  padding-top: 37px;
}

.footer-menu li {
  text-align: end;
}

.footer-offers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 58px;
}

.footer-offers li {
  text-align: end;
}

.footer-social-grids {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  column-gap: 51px;
}
